body {
    background-color: #FAFAFA;  /* #0e9cb55b;*/
    margin: 0px;
}
a {
    text-decoration: none;
} 
a:hover {
    color: black;
    background-color:#c9d6f0;
    border-radius: 20px;
}
footer a:hover {
    color: rgb(123, 12, 228);
}
header {
    border-radius: 0px 0px 16px 16px;  
}
header a {
    color: #FFFCF8;  
    padding: 20px;
    font-size: 1.1rem;
}
header, footer {
    background-color: #0b1e43ef;
    padding: 20px;
    text-align: center;
}
.table-section {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 80vh;
}
table {
    table-layout: fixed;
    margin:0 auto;
    border: 2px solid;
    line-height: 1.8rem;
    font-size: 17px;
    max-width: 100%;
}
th,
thead th {
    text-align: center;
    background-color: #0b1e43ef;
    color: white;
}
th {
    text-align: left;
    padding: 10px;
}
td {
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #0e9cb55b; /*#8AAAE5;*/
}
footer p, footer a {
    margin-bottom: 0px;
    color:#FFFCF8;
    font-size: .86rem;
}
.socials {
    display: flex;
    justify-content:center;
    gap: 15px; 
    padding-top: 20px;
}
@media (max-width: 500px) {
    header a {
        display: block;
        padding: 5px;
        font-size: 1rem;  
    }
    table {
       border: 1px solid;
        max-width: 100%;
        width: 95%;
        background-color: #c9d6f0;
    }
    th,td {
        padding: 8px;
        max-width: 100%;
        font-size: 8.5px; 
    }
    td {
        background-color: #FAFAFA;
    }
    footer {
        padding:10px;
        font-size:.75rem;
        max-width: 100%;
    }   
    header {
        max-width: 100%;
        padding: 5px;
    }
    .table-section {
        padding: 40px 0px;
        margin-bottom: 10px;
    }
}   